<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <h3><%= subtitle %></h3>
    <button
      type="“button”"
      onclick="location.href='http://localhost:3000/users/new'"
    >
      ユーザー登録
    </button>
    <button
      type="“button”"
      onclick="location.href='http://localhost:3000/login'"
    >
      ログイン
    </button>
  </body>
</html>
