<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/projectsstyle.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <form method="post" action="/projects">
      <input
        type="text"
        placeholder="redlion"
        name="projectname"
      /> <input type="submit" value="プロジェクト追加" /><br />

      <ul>
        <%-projects %>
      </ul>
  </body>
</html>